# LangChain Core
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-docling
langchain-chroma

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# MistralAI Integration
langchain-mistralai
mistralai

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Vector Database
chromadb

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# Data Validation
pydantic

# UI
streamlit

# PDF loader
pypdfium2